.game{
    margin:  auto;   
    width: 70%;
    display: flex;
    flex-direction: column; 
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px; 
   
   
}

.game__bar_top, .game__bar_botton{

    
    width: 100%;
    min-height: 100px;
    padding: 10px 0;
    background-color: rgb(165, 42, 118);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

.game__bar_botton{
    min-height: 150px;
    display: flex;
    
}