.botao__button{

    background-color: rgb(235, 225, 233);
    border: none;
    color: rgb(131, 35, 107);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Century Gothic', sans-serif;
    border-radius: 2px;
    font-weight: bolder;
    margin-right: 5px;
   

}